*{
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: cursive, Arial, Helvectica;
    font-weight: bold;
}


.player{
    height: 98vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapper{
    /* border: 2px solid transparent; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 40px;
    padding: 30px;
    border-radius: 20px;
    background: #dddddd;
    width: 35%;
    height: 98%; 
    position: relative;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.track-art{
    margin: 25px;
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 5px 6px 5px linear-gradient(-45deg, #45caff 0%, #ff1b6b 100% );
}

.track-art::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.track-art::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        

.now-playing {
    font-size: 1.2rem;
    margin: -10px 5px;    
    font-style: italic;
}
    
.track-name {
    font-size: 1.7rem;
    margin-top: -5px;
    text-align: center;
    word-break: break-word;
    font-weight: 1500;
    margin: 0 -30px;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    transition: opacity .2s;
    padding: 15px;
    font-weight: 1000;
}

.repeat-track:hover,
.random-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
    background-color: #cccccc;
    border-radius: 10px;
}
.playpause-track:hover{
    opacity: 0.8;
    color: red;
}
.seek-slider, .volume-slider{
    appearance: none;
    height: 8px;
    background: #83a9ff;
    border-radius: 10px;
    transition: opacity .2s;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}

.seek-slider, .volume-slider {
    appearance: none;
    height: 5px;
    background: #83A9FF;
    transition: opacity .2s;
}
    
.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: yellow;
border: 4px solid #1d2c4f;
cursor: grab;
border-radius: 100%;
/* margin: 10px; */
}
    
.seek-slider:hover,
.volume-slider:hover {
opacity: 1.0;
}

.seek-slider {
width: 60%;
}

.volume-slider {
width: 30%;
}


.current-time,
.total-duration {
padding: 10px;
}


i.fa-volume-down,
i.fa-volume-up {
padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
cursor: pointer;
}

.randomActive{
    color: green;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.loader {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

}

.loader .stroke{
    background: linear-gradient(to bottom , #e66210, #e6a629);
    height: 50%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
50% {
    height: 20%;
    background: linear-gradient(to bottom, #e66210, #e6a629);
}

100% {
    background: linear-gradient(to bottom, #e6a629, #e66210);
    height: 150%;
}
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
animation-delay: 0.3s;
}
.stroke:nth-child(3){
animation-delay: 0.6s;
}
.stroke:nth-child(4){
animation-delay: 0.9s;
}
.stroke:nth-child(5){
animation-delay: 0.6s;
}
.stroke:nth-child(6){
animation-delay: 0.3s;
}
.stroke:nth-child(7){
animation-delay: 0s;
}